#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	opam exec -- dune build @install

override_dh_auto_install:
	opam exec -- dune install --prefix=debian/lpf/usr

override_dh_auto_clean:
	dune clean
